.Term{
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

.terminal-base.blCJWW{
max-width: none;
width: 100vw !important;
height: 100vh !important;


}
.terminal-base{
 width: 100vw !important;
 height: 100vh !important;
}